<header class="header" [class.shrunk]="isShrunk">
  <div class="container">
    <div class="logo">
      <a href="#" [class.shrunk]="isShrunk">Dolat Digital</a>
    </div>
    <button class="hamburger" aria-label="Open menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="nav" [class.open]="menuOpen">
      <ul class="nav-list">
        <li class="nav-item" *ngFor="let item of navItems">
          <a [href]="item.href" [class.shrunk]="isShrunk">{{item.label}}</a>
        </li>
      </ul>
    </nav>
    <div class="header-actions">
      <a href="#contact" class="btn-contact">Contact Us</a>
    </div>
  </div>
</header>
